PORT=8080
HOST=localhost

DATABASE_URL=
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=

MINIO_URL=http://localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_ACCESS_SECRET=minioadmin

MINIO_USER=
MINIO_PASSWORD=

JWT_SECRET=

FRONT_URL=